

.two-col {
  padding: 1em 1em 5em;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #E5E5E5, #E5E5E5), linear-gradient(180deg, rgba(19, 13, 98, 0.6) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgba(19, 13, 98, 0.57), rgba(19, 13, 98, 0.57)), url(image.png);
  background-blend-mode: normal, normal, multiply, color, normal;

  .col-one {
    h2 {
      font-family: Montserrat-Light;
      font-size: 60px;
      font-weight: 300;
    }
  }
}

.four-col {
  display: table;
  table-layout: fixed;
  border-collapse:separate;
  border-spacing:5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;


  div {
    display: table-cell;
    background-color: #130D62;
    padding: 15px;
    width: 20%;

    h2 {
      color:white;
      text-align: center;
      text-transform: uppercase;
      font-family: Oxygen-Regular;
      font-weight: 700;
      font-size:15px;
      letter-spacing: 7%;
    }
  }
}

.title-center {
  width:40%;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  margin-bottom:50px;

  h3 {
    text-align: center;
    font-family: Oxygen-Regular;
    font-weight: 300;
    font-size:21px;
    letter-spacing: 4%;
  }
}

.partners-wrapper {
     margin-bottom: 30px;

    .partners {
      display: grid;
      grid-template-columns: auto auto auto;
      margin-left: auto;
      width: 90%;
  
      img {
      justify-content: space-evenly;
    }
  }
}

footer {
  background-color: #EDEDED;
  padding: 25px 0 0 0;
  margin-bottom: -25px;
  display: grid;
  grid-template-columns: 30% 30%;

  div{
    ul {
      li {
        list-style: none;

         a {
           text-decoration: none;
           color: #130D62 !important;
         }
      }
    }
  }


  .site-info {
    display: none;
  }
}



@media only screen and (min-width: 1025px) {
  .two-col {
    display: flex;
    flex-flow: row wrap;
    max-width: 2000px;
    margin: 0 auto;
    padding: 3em 1em 5em;

    .col {
      width: 50%;
      padding: 0 2em;
    }
  }
}

@media only screen and (min-width: 1800px) {
  .two-col {
    .page-title {
      padding: 0 4em;
    }

    .col {
      padding: 0 4em;
    }
  }
}

